<div class="c-card-image c-card-image--blue">

  <div class="c-card-image__top">
    <div class="c-card-image__top-overlay"></div>
    <img src="/static/img/card_image_1.jpg" alt="Métricas de Retail.">
  </div>

  <div class="c-card-image__button">
    <button>
      <a href="#">
        Saber más
      </a>
    </button>
  </div>

  <div class="c-card-image__bottom">
    <p></p>

    <h4></h4>

    <p></p>
  </div>

</div>


<div class="c-card-image c-card-image--green">

  <div class="c-card-image__top">
    <div class="c-card-image__top-overlay"></div>
    <img src="/static/img/card_image_2.jpg" alt="Mapas de Vida Silvestre y Medio Ambiente.">
  </div>

  <div class="c-card-image__button">
    <button>
      <a href="#">
        Saber más
      </a>
    </button>
  </div>

  <div class="c-card-image__bottom">
    <p></p>

    <h4></h4>

    <p></p>
  </div>

</div>