/*------------------------------------*\
    #IMPORTANT RULES
\*------------------------------------*/

* {
  box-sizing: border-box !important;
}

.full-wrapper.non-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
