<div class="main__cards">
  <div class="c-card">
    <a href="#">
      <div class="c-card__image">
        <img src="/static/img/web.svg" alt="">
      </div>

      <div class="c-card__text">
        <h3>Desarrollo <br>
          Web</h3>
      </div>

      <div class="c-card__arrow">
        <span></span>
      </div>
    </a>
  </div>

  <div class="c-card">
    <a href="#">
      <div class="c-card__image">
        <img src="/static/img/mobile.svg" alt="">
      </div>

      <div class="c-card__text">
        <h3>Aplicaciones <br>
          Móviles</h3>
      </div>

      <div class="c-card__arrow">
        <span></span>
      </div>
    </a>
  </div>

  <div class="c-card">
    <a href="#">
      <div class="c-card__image">
        <img src="/static/img/ai.svg" alt="">
      </div>

      <div class="c-card__text">
        <h3>Inteligencia <br>
          Artificial </h3>
      </div>

      <div class="c-card__arrow">
        <span></span>
      </div>
    </a>
  </div>

  <div class="c-card">
    <a href="#">
      <div class="c-card__image">
        <img src="/static/img/ux.svg" alt="">
      </div>

      <div class="c-card__text">
        <h3>User <br>
          Experience</h3>
      </div>

      <div class="c-card__arrow">
        <span></span>
      </div>
    </a>
  </div>

</div>