div.main__title {
  margin-bottom: 50px;

  h1 {
    font-family: $sen;
    color: $text;
    font-size: 5.25rem;
    line-height: 90px;
  }

  h2 {
    font-family: $sen;
    color: $text;
    font-size: 2.625rem;
    font-weight: 400;

    span > a {
      @include transition(0.3s color ease-in-out);
      color: $red;

      &:hover {
        color: $dark-blue;
      }
    }
  }
}

@media (max-width: 990px) {
  div.main__title {
    margin-bottom: 70px;

    h1 {
      font-size: 4.5rem;
      line-height: 1.16em;
    }
  }
}

@media (max-width: 620px) {
  div.main__title {
    h1 {
      font-size: 2.5rem;
      line-height: 1.1em;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 1.875rem;
    }
  }
}
