/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
** Colores generales.
*/

$blanco: #fff;
$black: #000;
$blue-card: #3341b2;
$dark-blue: #014c8c;
$gray: #eff3f5;
$light-gray: #eff3f5;
$green-card: #038565;
$link: #3576e7;
$red: #fb3c54;
$light-text: #5b5b5b;
$text: #01314e;

/**
** RRSS.
*/

$fb: #3a5795;
$ig: #c13584;
$wsp: #25d366;
