<nav class="c-navigation-mobile">
  <div class="c-navigation-mobile__header">
    <div class="c-navigation-mobile__logo">
      <a href="#">

      </a>
    </div>

    <div class="c-navigation-mobile__button">
      <button>
        <a href="#">
          <span></span>
        </a>
      </button>
    </div>
  </div>

  <ul class="c-navigation-mobile__items">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Our Work</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Quality</a>
    </li>
    <li>
      <a href="#">Articles</a>
    </li>
    <li>
      <a href="#">About Us</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>

  <div class="c-navigation-mobile__overlay"></div>
</nav>