<div class="c-testimonials">
  <div class="c-testimonials__avatar">
    <img src="./static/img/testimonial_avatar_1.jpg" alt="Avatar">
  </div>

  <div class="c-testimonials__personal">
    <p></p>

    <p></p>
  </div>

  <div class="c-testimonials__text">
    <p></p>
  </div>

  <div class="c-testimonials__rating">
    <span>
      5.0
    </span>
    <img src="./static/img/star_full.svg" alt="Visla puntaje 5.0 estrellas">
    <img src="./static/img/star_full.svg" alt="Visla puntaje 5.0 estrellas">
    <img src="./static/img/star_full.svg" alt="Visla puntaje 5.0 estrellas">
    <img src="./static/img/star_full.svg" alt="Visla puntaje 5.0 estrellas">
    <img src="./static/img/star_full.svg" alt="Visla puntaje 5.0 estrellas">
  </div>

  <div class="c-testimonials__review">
    <span>
      Revisión realizada por
    </span>

    <img src="./static/img/clutch_logo.png" alt="Logo Clutch">
  </div>
</div>

<div class="c-testimonials">
  <div class="c-testimonials__avatar">
    <img src="./static/img/testimonial_avatar_2.jpg" alt="Avatar">
  </div>

  <div class="c-testimonials__personal">
    <p></p>

    <p></p>
  </div>

  <div class="c-testimonials__text">
    <p></p>
  </div>

  <div class="c-testimonials__rating">
    <span>
      5.0
    </span>
    <img src="./static/img/star_full.svg" alt="Visla puntaje 5.0 estrellas">
    <img src="./static/img/star_full.svg" alt="Visla puntaje 5.0 estrellas">
    <img src="./static/img/star_full.svg" alt="Visla puntaje 5.0 estrellas">
    <img src="./static/img/star_full.svg" alt="Visla puntaje 5.0 estrellas">
    <img src="./static/img/star_full.svg" alt="Visla puntaje 5.0 estrellas">
  </div>

  <div class="c-testimonials__review">
    <span>
      Revisión realizada por
    </span>

    <img src="./static/img/clutch_logo.png" alt="Logo Clutch">
  </div>
</div>

<div class="c-testimonials">
  <div class="c-testimonials__avatar">
    <img src="./static/img/testimonial_avatar_3.jpg" alt="Avatar">
  </div>

  <div class="c-testimonials__personal">
    <p></p>

    <p></p>
  </div>

  <div class="c-testimonials__text">
    <p></p>
  </div>

  <div class="c-testimonials__rating">
    <span>
      4.5
    </span>
    <img src="./static/img/star_full.svg" alt="Visla puntaje 4.5 estrellas">
    <img src="./static/img/star_full.svg" alt="Visla puntaje 4.5 estrellas">
    <img src="./static/img/star_full.svg" alt="Visla puntaje 4.5 estrellas">
    <img src="./static/img/star_full.svg" alt="Visla puntaje 4.5 estrellas">
    <img src="./static/img/star_half.svg" alt="Visla puntaje 4.5 estrellas">
  </div>

  <div class="c-testimonials__review">
    <span>
      Revisión realizada por
    </span>

    <img src="./static/img/clutch_logo.png" alt="Logo Clutch">
  </div>
</div>