section.lets-code {
  background-color: $light-gray;
}

.lets-code__wrapper {
  @include flex-align(column, center, center);
  max-width: 960px;
  margin: 0 auto;
  padding: 8.5rem 5rem;
}

@media (max-width: 620px) {
  .lets-code__wrapper {
    padding: 4.5rem 1rem 5.5rem;
  }
}
