<div class="footer__menu">
  <div class="footer__list">
    <h4>
      Menu
    </h4>
    <ul>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
    </ul>

  </div>

  <div class="footer__list">
    <h4>
      Servicios
    </h4>
    <ul>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
    </ul>

  </div>

  <div class="footer__list">
    <h4>
      Tech Stack
    </h4>
    <ul>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
      <li>
        <a href="#">
        </a>
      </li>
    </ul>

  </div>
</div>