<div class="footer__bottom">
  <div class="footer__logo">
    <a href="#">
      <img src="/static/img/visla_black.svg" alt="Visla Logo">
    </a>
  </div>

  <div class="footer__social">
    <ul>
      <li>
        <a href="#">
          <img src="/static/img/fb.svg">
        </a>
      </li>

      <li>
        <a href="#">
          <img src="/static/img/twitter.svg">
        </a>
      </li>

      <li>
        <a href="#">
          <img src="/static/img/linkedin.svg">
        </a>
      </li>

      <li>
        <a href="#">
          <img src="/static/img/dribbble.svg">
        </a>
      </li>

      <li>
        <a href="#">
          <img src="/static/img/be.svg">
        </a>
      </li>
    </ul>
  </div>
</div>