<div class="c-partners">
  <img src="./static/img/aerlingus.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/collective.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/creatix_logo.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/lamillou.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/1043.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/AptAppLogoDark.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/honeyaccess.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/Kerosine.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/socialwave.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/sharerocket.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/BiosphereGPS.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/BHAssociates.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/deToekomst.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/Acram.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/CampsAustraliaWide.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/addedIQ.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/NarrowGauge.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/TruffleberryMarket.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/Hygen.png" alt="">
</div>

<div class="c-partners">
  <img src="./static/img/Neophotonics.png" alt="">
</div>